<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEROES</title>
</head>
<body>
    <h1>HÉROES</h1>
    <ul>
        <li><a href="/turing">TURING</a></li>
        <li><a href="/babbage">BABBAGE</a></li>
        <li><a href="/berners-lee">BERNERS-LEE</a></li>
        <li><a href="/clarke">CLARKE</a></li>
        <li><a href="/lovelace">LOVELACE</a></li>
        <li><a href="/hamilton">HAMILTON</a></li>
        <li><a href="/hopper">HOPPER</a></li>
    </ul>
    <a href="#lejos">Ir Lejos</a>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aenean convallis orci et velit finibus, sodales tincidunt diam ultricies. 
        Morbi scelerisque, erat vel faucibus fringilla, libero tortor vulputate quam, nec ornare mi risus eget leo. 
        Suspendisse tempus ultrices magna. Mauris ut porta risus, id posuere libero. <span> Lolero </span>
        Phasellus semper, justo at aliquet suscipit, massa ante blandit metus, sed ultricies velit elit non ligula. 
        Duis lobortis, mauris et elementum tincidunt, eros ex porta neque, sit amet tincidunt orci turpis non erat. 
        Nunc finibus nisi a ipsum congue, eget pretium augue sollicitudin. </div>
    <p> ¿Te vas a leer todo eso chinwenwencha?</p>
    <span> Holis </span> <span> LOL </span>
    <ol type="I",  start="1">

        <li>Sabés</li>
        <li>que</li>
        <li>sí</li>
        <li>hermano</li>
    </ol>
    <ul type="square">
        <li>ambarguttz</li>
        <li>Carlos</li>
        <li>Jimena</li>
        <li>Rocío</li>
        <li>Pedro</li>
    </ul>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aenean convallis orci et velit finibus, sodales tincidunt diam ultricies. 
        Morbi scelerisque, erat vel faucibus fringilla, libero tortor vulputate quam, nec ornare mi risus eget leo. 
        Suspendisse tempus ultrices magna. Mauris ut porta risus, id posuere libero. <span> Lolero </span>
        Phasellus semper, justo at aliquet suscipit, massa ante blandit metus, sed ultricies velit elit non ligula. 
        Duis lobortis, mauris et elementum tincidunt, eros ex porta neque, sit amet tincidunt orci turpis non erat. 
        Nunc finibus nisi a ipsum congue, eget pretium augue sollicitudin. </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aenean convallis orci et velit finibus, sodales tincidunt diam ultricies. 
        Morbi scelerisque, erat vel faucibus fringilla, libero tortor vulputate quam, nec ornare mi risus eget leo. 
        Suspendisse tempus ultrices magna. Mauris ut porta risus, id posuere libero. <span> Lolero </span>
        Phasellus semper, justo at aliquet suscipit, massa ante blandit metus, sed ultricies velit elit non ligula. 
        Duis lobortis, mauris et elementum tincidunt, eros ex porta neque, sit amet tincidunt orci turpis non erat. 
        Nunc finibus nisi a ipsum congue, eget pretium augue sollicitudin. </div>
    <ul type="square">
        <li>ambarguttz</li>
        <li>Carlos</li>
        <li>Jimena</li>
        <li>Rocío</li>
        <li>Pedro</li>
    </ul>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aenean convallis orci et velit finibus, sodales tincidunt diam ultricies. 
        Morbi scelerisque, erat vel faucibus fringilla, libero tortor vulputate quam, nec ornare mi risus eget leo. 
        Suspendisse tempus ultrices magna. Mauris ut porta risus, id posuere libero. <span> Lolero </span>
        Phasellus semper, justo at aliquet suscipit, massa ante blandit metus, sed ultricies velit elit non ligula. 
        Duis lobortis, mauris et elementum tincidunt, eros ex porta neque, sit amet tincidunt orci turpis non erat. 
        Nunc finibus nisi a ipsum congue, eget pretium augue sollicitudin. </div>
    <span id="lejos">Final pagina</span>
</body>
</html>